{{! default}}
<div class="rt-abouts rt-content">
  <div class="rt-about-selection" style="padding-top:34px;">
    {{#each abouts}}
    <div class="rt-about-name rt-big-title"><a href="/about/{{ key }}">{{caplock name}}</a></div>
    {{/each}}
  </div>
</div>
