{{! default}}
<div class="rt-events rt-content">
  <div class="rt-event-selection" style="padding-top:34px;">
    {{#each events}}
    <div class="rt-event-name rt-big-title"><a href="/events/{{ key }}">{{caplock name}}</a></div>
    {{/each}}
  </div>
</div>
