{{! default}}
<div class="rt-content">
  {{#each friends}}
  <a href="{{ link }}" target="_blank"><div class="rt-big-title rt-inline"{{#if @first}}style="margin-top:28px"{{/if}}>{{caplock name }}</div></a>
  {{/each}}
</div>