{{! default}}
<div class="rt-abouts rt-mobile-content">
  <div class="rt-about-selection">
    {{#each abouts}}
    <div class="rt-about-name rt-big-title"><a href="/about/{{ key }}">{{caplock name}}</a></div>
    <hr>
    {{/each}}
  </div>
</div>
