{{! default}}
<div class="rt-abouts rt-mobile-content">
  <div class="rt-about-selection">
    {{#each abouts}}
    <div class="rt-about-name rt-big-title" style="cursor: pointer;">{{caplock name}}</div>
    <div class="rt-about rt-content-overlay">
      <div class="rt-content-overlay-back">
        <a href="/about/"><span class="rt-content-overlay-back-button"><span class="glyphicon glyphicon-chevron-left"></span>back</span></a>
        <h1 style="margin: 6px 0px; text-transform: uppercase">{{ name }}</h2>
      </div>
      {{{ text }}}
    </div>
    <hr>
    {{/each}}
  </div>
</div>
