{{! default}}
<div class="rt-events rt-mobile-content">
  <div class="rt-event-selection">
    {{#each events}}
    <div class="rt-event-name rt-big-title" style="cursor: pointer;">{{caplock name }}</div>
    <div class="rt-event rt-content-overlay hide">

      <div class="rt-content-overlay-back">
        <span class="rt-content-overlay-back-button"><span class="glyphicon glyphicon-chevron-left"></span>back</span>
        <h1 style="margin: 6px 0px; text-transform: uppercase" >{{ name }}</h2>
        <!--
        <hr class="rt-content-overlay-header-line">
        <br>
        -->
      </div>
      
      {{{ text }}}

    </div>
    <hr>
    {{/each}}
  </div>
</div>

<!-- Helper script to load events -->
<script>

  setTimeout(function() {
    /**
     * load event info on click 
     * ==================
     */
  
    $( ".rt-event-name" ).each(function() {
      var that = $(this);
      that.click( function() {
        var $overlay = that.nextUntil( ".rt-event-name", ".rt-content-overlay" );
        $overlay.removeClass( "hide" );
        $( ".rt-content-overlay-back-button" ).click( function() {
          $overlay.addClass( "hide" );
        });
      });
    });
  
  }, 1000);
  
</script>
