{{! default}}
<div class="rt-events rt-mobile-content">
  <div class="rt-event-selection">
    {{#each events}}
    <div class="rt-event-name rt-big-title"><a href="/events/{{ key }}">{{caplock name}}</a></div>
    <hr>
    {{/each}}
  </div>
</div>
