{{! default}}
<div class="rt-mobile-gallery">
{{#each mobilegalleryimages}}
  <img class="rt-mobile-gallery-image" src="{{ image.url }}"/>
{{/each}}
</div>

<!-- banner -->
{{#if banners}}
<div class="rt-banners-mobile rt-resize">
  {{#each banners}}
  {{#if text}}
  <div class="rt-banner-mobile">
    {{{ text }}}
  </div>
  {{/if}}
  {{/each}}
</div>
{{/if}}

<div class="rt-main-info rt-center">
  {{#if navmobile}}{{{ navmobile.text }}}{{/if}}
</div>

<script>
  // on window resize, hide/display the banners
  $(window).resize(function() {
    if($(window).width() > $(window).height()) {
      // hide in landscape
      $(".rt-banners-mobile").hide();
    } else {
      // show in portrait
      $(".rt-banners-mobile").show();
    }
  });
</script>
