{{! default}}
<div class="rt-mobile-gallery">
{{#each mobilegalleryimages}}
  <img class="rt-mobile-gallery-image" src="{{ image.url }}"/>
{{/each}}
</div>

<div class="rt-main-info rt-center">

  <div class="rt-address rt-shadow">126 W 18th St,<br>New York, NY 10011</div>
  <a href="mailto:chelsea@rougetomate.com"><div class="rt-email rt-shadow">chelsea@rougetomate.com</div></a>
  <div class="rt-phone rt-shadow">(646)-395-3978</div>

  <!-- social media icons -->
  <div class="" style="padding-top:10px;padding-bottom:10px;">
    <a href="https://www.twitter.com/rougetomatenyc" target="_blank"><img src="/images/twitter-icon.png" width="30"></a>&nbsp;
    <a href="https://www.facebook.com/rougetomatechelsea/" target="_blank"><img src="/images/fb-icon.png" width="30"></a>&nbsp;
    <a href="https://www.instagram.com/rougetomatechelsea" target="_blank"><img src="/images/ig-icon.png" width="30"></a>
  </div>

  <!-- link to Fishbowl subscription -->
  <div class="rt-address rt-shadow" style="margin-top: 10px">
    <a style="color: white;" href="http://rougetomatechelsea.fbmta.com/members/UpdateProfile.aspx?Action=Subscribe">Subscribe to newsletter ></a>
  </div>

</div>
