{{! default}}
<div class="rt-mobile-gallery">
{{#each mobilegalleryimages}}
  <img class="rt-mobile-gallery-image" src="{{ image.url }}"/>
{{/each}}
</div>

<div class="rt-main-info rt-center">

  <div class="rt-address rt-shadow">126 W 18th St,<br>New York, NY 10011</div>
  <a href="mailto:chelsea@rougetomate.com"><div class="rt-email rt-shadow">chelsea@rougetomate.com</div></a>
  <div class="rt-phone rt-shadow">(111)-111-1111</div>
  
  <!-- social media icons -->
  <div class="" style="padding-top:10px;padding-bottom:10px;">
  	<a href="https://www.twitter.com/rougetomatenyc" target="_blank"><img src="images/twitter-icon.png" width="30"></a>&nbsp;
  	<a href="https://www.facebook.com/rougetomatechelsea/" target="_blank"><img src="images/fb-icon.png" width="30"></a>&nbsp;
  	<a href="https://www.instagram.com/rougetomatechelsea" target="_blank"><img src="images/ig-icon.png" width="30"></a>
  </div>

  <div class="rt-mobile-subscribe">
    <input class="rt-subscribe" type="text" placeholder="your@email.com">
    <button class="rt-subscribe-submit">join our newsletter</button>
  </div>

</div>


