{{! default}}
<script src="https://widgets.resy.com/embed.js"></script>

<div class="rt-reservations rt-mobile-content">
  <!--
  <div class="rt-notification">
    Please note that Rouge Tomate will having a <strong>Valentine's Special</strong>! Please see more on below.
  </div>
  <br>
  <br>
  -->
  
  <div class="rt-big-title">PARTY</div>
  <div style="margin-bottom:6px;">* Please <a href="" target="_blank">contact us</a> if you have a party greater than 10</div>
  <input type="number" class="rt-reservation-party" value="1" name="party" min="1" max="12" style="line-height:0px"></input>
  <br>
  <hr>

  <div class="rt-big-title">DATE</div>
  <div style="margin-bottom:6px;">* Reservations can only be made up to <strong>30 days</strong> in advance</div>
  <input type="date" class="rt-reservation-date" name="date"></input>
  <br>
  <hr>

  <!--
  <div class="rt-big-title">TIME</div>
  <input type="time" class="rt-reservation-time" name="time" value="08:00"></input>
  <br>
  <hr>
  -->

  <br>
  <div class="rt-submit-reservation">
    <div class="rt-big-title rt-inline rt-pointer"><em>SEARCH</em></div>
    <div class="rt-submit-reservation-rhs rt-inline">
      <div class="rt-reservation-arrows">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    </div>
  </div>
  <br>
  
  <!--
  <div class="rt-reservation-special">
    <div class="rt-small-title" style="display:inline-block;">VALENTINE'S DAY</div>
    <div class="">
      4 course tasting menu $105.<br>
      Optional Wine Pairing $75,<br>
      Cocktail Pairing $45,<br>
      and Non-Alcoholic Pairings at $35.
    </div>
    <a href="https://widgets.reserve.com/5be361b4-d38b-4a32-bba8-338db4493c5c/search?guests=2&date=2017-02-14&time=8:00%20pm&utm_medium=temp-link&utm_source=rouge-tomate&utm_campaign=valentines-day&omhide=true" target="_blank">
      <div class="rt-reservation-special-button" style="display:inline-block;">RESERVE NOW</div>  
    </a>
    <br>
    <br>
    <div class="rt-small-title" style="display:inline-block;">NEW YEARS EVE</div>
    <div class="">First Seating (6-7:30pm): 3-Course Menu @ $95pp</div>
    <div class="">Second Seating (8-10:30pm): 5-Course Menu @ $150pp</div>
    <a href="https://widgets.reserve.com/5be361b4-d38b-4a32-bba8-338db4493c5c/search?date=2016-12-31" target="_blank">
      <div class="rt-reservation-special-button" style="display:inline-block;">RESERVE NOW</div>  
    </a>
  </div>
  -->

  <br> 
  <div class="rt-reservation-inquiries">
    <div class="rt-reservation-inquiries-heading">INQUIRIES?</div>
    <a href="mailto:chelsea@rougetomate.com">chelsea@rougetomate.com</a>
  </div>

</div>

<script>

  // Get formatted date YYYY-MM-DD
  function getFormattedDate(date) {
    return date.getFullYear()
      + "-"
      + ("0" + (date.getMonth() + 1)).slice(-2)
      + "-"
      + ("0" + date.getDate()).slice(-2);
  }

  function doubleDigit( num ) {
    if( num < 9 ) {
      return "0" + num;
    } else {
      return num;
    }
  }

  function today() {
    return new Date();
  }

  /*
  function getDateTime() {

    var reservationTime = $( ".rt-reservation-time" ).val();
    var hour = parseInt( reservationTime.substring(0, 2) );
    var minute = parseInt( reservationTime.substring(3, 5) );
    if (minute > 45 || minute < 15) { 
      minute = 0;
    } else {
      minute = 30;
    }
    var DN = "am";

    // if PM
    if( hour  > 12 ) {
      hour = hour - 12;
      DN = "pm";
    }
    var time = hour +":"+ doubleDigit(minute) + "+" + DN;

    var reservationDate =  new Date( $( ".rt-reservation-date" ).val() );
    var formattedDate = getFormattedDate( reservationDate );

    return [formattedDate, time];

  }
  */
  
  function getDate() {
    var reservationDate =  new Date( $( ".rt-reservation-date" ).val() );
    var formattedDate = reservationDate.getFullYear()
      + "-"
      + ("0" + (reservationDate.getMonth() + 1)).slice(-2)
      + "-"
      + ("0" + (reservationDate.getDate() + 1)).slice(-2);

    return formattedDate;
  }

  // Wait for Jquery to load
  setTimeout( function() {

    $( ".rt-reservation-date" ).val( getFormattedDate( today() ) );

    // submit to reserve.com 
    $( ".rt-submit-reservation .rt-big-title" ).click( function() {
      var reservation = {
        party: $( ".rt-reservation-party" ).val(),
        date: getDate()
        /*time: getDateTime()[1] */
      }
     
      /**
       * MAINTAINENCE: 
       * this is the request structure to resy as of 2017/03/21
       * ===========================================================
       */
       
      var config = {
        venueId: "1049",
        apiKey: "4aqVHdy1FsihfVpPSbrGrHSh4l521GVZ",
        date: reservation.date,
        seats: reservation.party,
        replace: true
      };
      
      resyWidget.openModal(config);

    });

  }, 1000 );

</script>
