{{! default}}
<div class="rt-reservations rt-mobile-content">

  <div class="rt-big-title">PARTY</div>
  <input type="number" class="rt-reservation-party" value="1" name="party" min="1" max="12"></input>
  <br><br>

  <div class="rt-big-title">DATE</div>
  <input type="date" class="rt-reservation-date" name="date"></input>
  <br><br>

  <div class="rt-big-title">TIME</div>
  <input type="time" class="rt-reservation-time" name="time" value="08:00"></input>
  <br><br>

  <div class="rt-submit-reservation">
    <div class="rt-big-title rt-inline rt-pointer"><em>SEARCH</em></div>
    <div class="rt-submit-reservation-rhs rt-inline">
      <div class="rt-reservation-arrows">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    </div>
  </div>

  <br> 
  <div class="rt-reservation-inquiries">
    <div class="rt-reservation-inquiries-heading">INQUIRIES?</div>
    <a href="mailto:chelsea@rougetomate.com">chelsea@rougetomate.com</a>
  </div>

</div>

<script>
  // Get formatted date YYYY-MM-DD
  function getFormattedDate(date) {
    return date.getFullYear()
      + "-"
      + ("0" + (date.getMonth() + 1)).slice(-2)
      + "-"
      + ("0" + date.getDate()).slice(-2);
  }

  // formate date to YYYY-MM-DD
  function formatDate( date ) {
    return date.getFullYear()
      + "-"
      + ("0" + (date.getMonth())).slice(-2)
      + "-"
      + ("0" + (date.getDate() + 1)).slice(-2);
  }

  function doubleDigit( num ) {
    if( num < 9 ) {
      return "0" + num;
    } else {
      return num;
    }
  }

  function today() {
    return new Date();
  }

  function getDateTime() {

    var reservationTime = $( ".rt-reservation-time" ).val();
    var hour = parseInt( reservationTime.substring(0, 2) );
    var minute = parseInt( reservationTime.substring(3, 5) );
    var DN = "am";

    // if PM
    if( hour  > 12 ) {
      hour = hour - 12;
      DN = "pm";
    }
    var time = hour +":"+ doubleDigit(minute) + "+" + DN;

    var reservationDate =  new Date( $( ".rt-reservation-date" ).val() );
    var formattedDate = formatDate( reservationDate );

    return [formattedDate, time];

  }

  // Wait for Jquery to load
  setTimeout( function() {

    $( ".rt-reservation-date" ).val( getFormattedDate( today() ) );

    // submit to reserve.com 
    $( ".rt-submit-reservation .rt-big-title" ).click( function() {
      var reservation = {
        party: $( ".rt-reservation-party" ).val(),
        date: getDateTime()[0],
        time: getDateTime()[1]
      }
     
      /**
       * MAINTAINENCE: 
       * this is the request structure to reserve.com as of 09/01/2016
       * ===========================================================
       */

      var req = "http://widgets.reserve.com/7d242f5e-6663-4885-9ec2-8b43d498cd36/search?" 
              + "guests=" + reservation.party + "&"
              + "date=" + reservation.date + "&"
              + "time=" + reservation.time;
              
      console.log(req);

      window.open( req );
      // window.location.href = "/";
    });

  }, 1000 );

</script>
