/**
 * BROWSER 
 * ==============================================================
 */

body {
  font-family: "proxima_nova_light", Helvetica, Arial, sans-serif;
  min-width: 1000px;
}
.rt-body {
  position: relative;
  right: 0px;
  min-width: 576px;
  margin-left: 365px;
  min-height: 100vh;
}

/* GENERAL */
.rt-nopadding {
  padding: 0 !important;
}
.rt-align-right {
  text-align: right;
}
.rt-big-title{
  color: red;
  font-size: 4.8em;
  font-family: "proxima_nova_semibold";
  line-height: 1.0em;
}
.rt-sub-title {
  color: red;
  font-size: 1.4em;
  font-family: "proxima_nova_light";
  margin-left: 8px;
}
.rt-content {
  margin-top: 18px;
  position: relative;
}
.rt-inline {
  display: inline-block;
}
.rt-pointer {
  cursor: pointer;
}
.rt-content {
  padding-right: 15px;
}
.rt-content-overlay-back {
  font-family: "proxima_nova_semibold";
  width: 100%;
  line-height: 24px;
  color: red;
  margin-bottom: 12px;
  display: inline-block;
}
.rt-content-overlay {
  position: absolute;
  z-index: 100;
  width: 70vw;
  height: 100%;
  background-color: white;
  top: 0px;
  left: 0px;
  min-width: 576px;
  max-width: 1028px;
}
.rt-content-overlay-header-line {
  height: 1px;
  background-color: red;
  border: 0 solid white;
  margin: 0;
}
.rt-content-overlay-back-button {
  cursor: pointer;
}
.rt-underline {
  border-bottom: 2px solid red;
}
.rt-fill-width {
  width: 100%;
}
.rt-center {
  text-align: center;
}
.rt-shadow {
  text-shadow: 2px 2px 3px #555;
}

/* Pre Built */
.rt-gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* Navigation */
.rt-nav {
  height: 100vh;
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 350px;
  padding-right: 15px;
}
.rt-logo {
  width: 100%;
  height: 90px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.rt-logo a {
  border: 0px;
}
.rt-logo-image {
  width: 90px;
  height: 90px;
  float: right;
}
.rt-nav-elements {
  list-style: none;
  margin-right: 0px;
}
.rt-nav-elements li {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 2.4em;
}
.rt-nav-elements li a {
  color: red;
}
.rt-nav-info {
  position: absolute;
  right: 12px;
  bottom: 24px;
  color: #333333;
  font-family: "proxima_nova_regular";
}
.rt-subscribe {
  border: 0px;
  border-bottom: 1px solid #aaa;
  width: 120px;
}
.rt-subscribe:focus {
  outline: none;
}
.rt-subscribe-submit {
  border: 0px;
  background-color: white;
}
.rt-nav-element:hover {
  text-decoration: none;
}

/* Gallery */
.rt-gallery-image {
  width: 100%;
  margin-bottom: 18px;
}
.rt-scroll-down {
  position: fixed;
  bottom: 0px;
  left: 300px;
  color: red;
  text-align: center;
  background-color: white;
}
.rt-scroll-down-wrapper {
  
}

/* Menu */
.rt-menus-about {
  width: 33%;
  color: red;
}
.rt-menu-selection {
  margin-top: 18px;
}
.rt-menu-name.active {
  color: white;
  background-color: red;
  padding-left: 18px;
  padding-right: 18px;
}
.rt-menu-name:hover .rt-pdf-special a {
  color:white;
}
.rt-menu-name:hover {
  cursor: pointer;
}
.rt-pdf-special:hover {
  text-decoration: underline;
}
.rt-download-pdf-link {
  color: red;
}
.rt-drinks-special {
  font-size: 0.4em;
  line-height: 0.9em;
}
.rt-pdf-special {
  margin-left: 8px;
  font-family: "proxima_nova_light";
  font-size: 1.4em;
}
.rt-pdf-special a {
  color: red;
}
.rt-fill-width {
  width: 100%;
}
/* Menu */
.rt-menus p {
  margin-bottom: 4px;
}
.rt-menus {
  position: relative;
  min-height: 92vh;
  margin-top: 18px;
  margin-bottom: 18px;
}
.rt-menu-splash-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -20px;
  top: 0px;
  background-size: cover;
  z-index: -1;
}
.rt-menu-title {
  color: red;
  font-size: 2.0em;
  font-family: "proxima_nova_semibold";
}
.rt-menu-sub-title {
  color: red;
  font-size: 1.8em;
  font-family: "proxima_nova_semibold";
  margin-top: 18px;
}
.rt-menu-item {
  margin-bottom: 12px;
}
.rt-menu-item-title {
  font-family: "proxima_nova_semibold";
}
.rt-menu-item-description {
  font-family: "proxima_nova_light";
}
.rt-menu-item-cost {
  margin-left: 12px;
}
/* Info */
.rt-info-line {
  font-family: "proxima_nova_semibold";
}
.rt-info-lines {
  margin-bottom: 12px;
}
.rt-info-image {
  width: 80%;
  height: 100%;
}

/* Reservation */
.rt-reservations input {
  border: 0px solid red;
  font-family: "proxima_nova_light";
  padding-left: 12px;
  height: 46px;
  font-size: 36px;
  font-weight: 800;
  background-color: #ccc;
  color: white;
}
.rt-reservations input:focus {
  outline: none;
}
.rt-reservation-arrows {
  font-family: "proxima_nova_semibold";
  font-size: 1.8em;
  color: red;
  margin-left: 4px;
}
.rt-submit-reservation-rhs {
  margin-left: 12px;
}
.rt-reservation-arrows span {
  margin-right: -12px;
}
.rt-reservation-inquiries {}
.rt-reservation-inquiries-heading {
  font-family: "proxima_nova_semibold";
  font-size: 1.8em;
  color: red;
}
.rt-reservation-inquiries a {
  font-size: 1.8em;
}

/* Certifications */
.rt-certifications {
  background-color: white;
  border: 1px solid red;
  border-top: 0px solid red;
  position: fixed;
  right: 80px;
  top: 0px;
  z-index: 1000;
}
.rt-certifications img {
  margin: 10px;
}

/* Teams */
.rt-team {
  color: red;
}
.rt-team h1 {
  font-family: "proxima_nova_semibold";
}
.rt-team-cell {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 240px;
}
.rt-team-cell img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.rt-team-cell-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(255,255,255,0.75);
}
.rt-team-cell-container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translatey(-50%) translateX(-50%);
}
.rt-team-cell-name {
  font-weight: 700;
}
.rt-team-content,
.rt-team-image {
  width: 100%;
}

/* Friends */
.rt-friends-title:hover {
  background-color: red;
  padding-left: 18px;
  padding-right: 18px;
  color: white;
}
.rt-friends {
  position: relative;
  min-height: 92vh;
  margin-top: 18px;
  margin-bottom: 18px;
}
.rt-friends-splash-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -20px;
  top: 0px;
  background-size: cover;
  z-index: -1;
}